*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
#container{
    border: 1px solid red;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: darkgray;
    padding: 0.5rem;
}

#sidebar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(8,1fr);
    padding:0.5rem;
}

#sidebar>* {
    border: 1px solid black;
}

#sidebar .clear{
    grid-column: 1 / -1;
}
#sidebar .clear button {
    height: 100%;
    width: 100%;
}